@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\$unset\$ {
    all: unset;
  }
}

:root {
  --big-heading-font-family: "Raleway", Helvetica;
  --big-heading-font-size: 64px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 800;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --heading-h1-font-family: "Raleway", Helvetica;
  --heading-h1-font-size: 48px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 800;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: normal;
  --heading-h2-font-family: "Raleway", Helvetica;
  --heading-h2-font-size: 36px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 800;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: normal;
  --heading-h3-font-family: "Raleway", Helvetica;
  --heading-h3-font-size: 28px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 800;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: normal;
  --heading-h4-font-family: "Raleway", Helvetica;
  --heading-h4-font-size: 22px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 800;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: normal;
  --heading-h5-font-family: "Raleway", Helvetica;
  --heading-h5-font-size: 18px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 800;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: normal;
  --paragraph-font-family: "Raleway", Helvetica;
  --paragraph-font-size: 18px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 800;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --variable-collection-accent-color-1: rgba(157, 134, 255, 1);
  --variable-collection-accent-color-2: rgba(125, 82, 253, 1);
  --variable-collection-color: var(--variable-collection-accent-color-1);
  --variable-collection-dark-color: var(
    --variable-collection-dark-color-duplicate
  );
  --variable-collection-dark-color-duplicate: rgba(21, 16, 34, 1);
  --variable-collection-paragraph-color: var(
    --variable-collection-paragraph-color-duplicate
  );
  --variable-collection-paragraph-color-duplicate: rgba(208, 207, 211, 1);
  --variable-collection-white-color: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 7s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite; 
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

* {
  max-width: 100%;
}

[class*="absolute"],
[class*="fixed"] {
  max-width: 100vw;
}